h2 {
    border-bottom: 1px solid gray;
    margin:0;
    padding:20px;
}

#grid {
    display: grid;
    grid-template-columns: 300px 1fr;
}


#grid #block1 {
    
    border-right: 1px solid gray;
    width:250px;
    margin:0;
    padding:25px
}

#grid #franch {
    padding:25px;
}

@media(max-width:800px) {
   
    h2 {
        border-bottom: none;
    }
    #grid {
        display: block;
    }
    #grid #block1 {
        border-right: none;
    }

}



